#h1{
  font-family: sans-serif;
  font-weight: bolder;
  color: orangered;
}


// Setting Figure

.home {
  height: 100%;
  width: 100%;
  
  position: relative;

}

.home-img {

  height: 15rem;
  width: 15rem;

  top: 4rem;
}